* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: #505050;
}

header {
    position: relative;
}



#logo {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
}

.menu {
    overflow: hidden;
}

nav {
    margin-bottom: 120px;
}

a.menu {
    display:block;
    margin-bottom: 20px;
    width: 16.666666%;
    font-size: 1.1rem;
    float: left;
    padding: 15px 30px;
    color: #fff;
    background-color: #303030;
    text-decoration: none;
    text-align: center;
}

a.menu:hover {
    background-color: #000000;
    cursor: pointer;
    opacity: 0.8;
}

#topbar {
    background-color: #128870;
    color: white;
    padding: 10px;
    height: 190px;
    margin-bottom: 40px;
}

#topbarL {
    float: left;
    padding: 20px;
    width: 140px;
    text-align: center;
}

#topbarR {
    float: left;
    padding: 20px;
    margin-left: 40px;
    width: 960px;
    font-size: 1.5rem;
    text-align: justify;
}

#social-contact-bar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
}
#social-contact-bar {
    font-size: 1.3rem;
}

a.mobile {
    text-decoration: none;
    color: white;
}

a.mobile:hover {
    opacity: 0.8;
}

a#social-contact-bar.fa-brands.fa-square-github {
    color: white;
}

.fa-briefcase:before {
    content: "\f0b1";
    color: white;
}

.fa-github-square:before, .fa-square-github:before {
    content: "\f092";
    color: white;
}

.fa-linkedin:before {
    content: "\f08c";
    color: white;
}

aside {
    float: right;
    width: 300px;
    min-height: 630px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 1.1rem;
}

aside li {
    overflow: hidden;
}

a.side-menu {
    text-decoration: none;
    color: #000000;
    line-height: 35px;
}

a.side-menu:hover{
    color: #000000;
    opacity: 0.8;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

main {
    float: left;
    padding: 40px;
    width: 900px;
    background-color: #dedede;
    min-height: 630px;
    text-align: justify;
}

main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

main p {
    font-size: 1.1rem;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #128870;
    font-size: 1.1rem;
}

#main-container {
    margin-bottom: 40px;
}